appdirs==1.4.3
asgi-redis==1.2.1
asgiref==1.1.1
attrs==16.3.0
autobahn==0.18.1
Automat==0.5.0
braintree==3.35.0
channels==1.1.2
configparser==3.5.0
constantly==15.1.0
daphne==1.2.0
dj-database-url==0.4.0
Django==1.10.6
django-betterforms==1.1.4
enum34==1.1.6
flake8==3.3.0
haikunator==1.0.1
httplib2==0.10.3
incremental==16.10.1
mccabe==0.6.1
msgpack-python==0.4.8
oauth2==1.9.0.post1
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.1
pycodestyle==2.3.1
pyflakes==1.5.0
PyJWT==1.4.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-openid==2.2.5
redis==2.10.5
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
Twisted==17.1.0
txaio==2.6.2
zope.interface==4.3.3
