$heavy-gray: #455a64;
$car-red: #ef5350;
$header-border: #ddd;
$main-border: #90a4ae;
$secondary-border: #cfd8dc;
$main-gray-blue: #607d8b;
$section-separator: #b0bec5;
$section-border: #eceff1;