img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.typical-horizontal-list, .social-bar, .pagination, .rating, #id-registration-login .social {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0; }
  .typical-horizontal-list > li, .social-bar > li, .pagination > li, .rating > li, #id-registration-login .social > li {
    display: inline-block; }

.typical-vertical-list, .footer-link-group, .contact-phone, .profile-submenu, .chat-contacts-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .typical-vertical-list > li, .footer-link-group > li, .contact-phone > li, .profile-submenu > li, .chat-contacts-list > li {
    display: block;
    margin: 0; }

.additional-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.no-stretch {
  white-space: nowrap;
  width: 1%; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype"), url("../fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic; }
body {
  font-family: 'Roboto',"Open Sans",'sans-serif';
  font-weight: 400;
  font-style: normal; }

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  position: relative;
  min-height: 90vh; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  background: white; }

.header-content {
  max-width: 1920px;
  padding: 0 1%;
  display: block;
  margin: 0 auto; }

.header-table {
  display: table;
  height: 4.286em;
  width: 100%; }

.header-block {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  border-right: 1px solid #ddd; }
  .header-block.for-reg-user {
    display: none !important; }
  .header-block.logo-block {
    padding-right: 1em; }
  .header-block.search-block {
    padding-left: 1.857em;
    padding-right: 2.428em; }
  .header-block.help-block {
    padding: 0 1.285em; }
  .header-block.registration-login-block {
    padding-left: 3em;
    border-right: none; }
  .header-block.profile-block, .header-block.login-block {
    border-right: none;
    padding-left: 1.428em; }
  .header-block .main-logo-holder {
    height: 3em;
    display: inline-block; }
    .header-block .main-logo-holder img {
      height: 100%;
      width: auto; }
  .header-block .header-search {
    display: inline-block;
    position: relative;
    width: 25.714em; }
    .header-block .header-search input[type="text"] {
      border: 1px solid #ddd;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      border-radius: 0.5em;
      height: 1.714em;
      width: 100%;
      margin-top: 0.214em;
      padding: 0 3em 0 0.5em; }
      .header-block .header-search input[type="text"]:focus {
        outline: none; }
    .header-block .header-search input[type="submit"] {
      position: absolute;
      background: transparent;
      top: 0.214em;
      bottom: 0;
      left: 23em;
      padding: 0;
      width: 2.714em;
      z-index: 1200;
      border: none; }
      .header-block .header-search input[type="submit"]:focus {
        outline: none; }
    .header-block .header-search .additional-layer {
      left: 23em;
      text-align: center;
      z-index: 1100; }
      .header-block .header-search .additional-layer i {
        line-height: 2.2em;
        color: #455a64; }
  .header-block .give-car-for-rent {
    display: inline-block;
    float: right;
    padding: 0 0.714em;
    line-height: 2.142em;
    text-align: center;
    background: #455a64;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .header-block .give-car-for-rent:hover {
      color: white; }
  .header-block .get-help {
    display: inline-block;
    line-height: 2.142em;
    padding: 0 2.142em;
    background: #ef5350;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .header-block .get-help:hover {
      color: white; }
  .header-block .registration {
    display: inline-block;
    color: black;
    text-decoration: underline; }
    .header-block .registration:hover {
      color: black; }
    .header-block .registration:hover {
      text-decoration: underline; }
  .header-block .view-profile {
    color: black;
    display: inline-block; }
    .header-block .view-profile:hover {
      color: black; }
    .header-block .view-profile:hover span {
      text-decoration: underline; }
    .header-block .view-profile span {
      display: inline-block;
      line-height: 2.857em;
      vertical-align: middle;
      text-decoration: underline;
      margin-right: 1em; }
    .header-block .view-profile .profile-img-header {
      display: inline-block;
      width: 2.857em;
      height: 2.857em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle; }
  .header-block .login-button {
    color: black;
    display: inline-block;
    text-decoration: underline; }
    .header-block .login-button:hover {
      color: black; }
    .header-block .login-button:hover {
      text-decoration: underline; }

.mobile-only-element {
  display: none !important; }

.page-content {
  padding-top: 4.286em; }

.main-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 2.222em; }
  .main-slider .slider-button-row {
    position: absolute;
    height: 10%;
    top: 45%;
    left: 0;
    right: 0;
    padding: 0 11%; }
    .main-slider .slider-button-row .main-slider-next-button, .main-slider .slider-button-row .main-slider-prev-button {
      display: inline-block;
      height: 60px;
      max-height: 100%;
      position: relative;
      z-index: 500; }
      .main-slider .slider-button-row .main-slider-next-button img, .main-slider .slider-button-row .main-slider-prev-button img {
        height: 100%;
        width: auto; }
    .main-slider .slider-button-row .main-slider-next-button {
      float: right;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      transform-origin: center; }
  .main-slider .swiper-slide .additional-layer {
    top: 53%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
  .main-slider .swiper-slide .slide-text {
    font-size: 2em;
    color: white;
    font-weight: 700;
    padding-left: 25.7%; }

.cars-block-middle img:first-child {
  padding-bottom: 2em; }

.on-page-search {
  height: 4.444em;
  border: 1px solid #90a4ae;
  margin-bottom: 2.222em; }

.slider-holder {
  position: relative; }

.slider-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  left: -5%;
  right: -5%;
  z-index: 500; }

.popular-cars-next, .popular-city-next, .cc-gallery-next {
  float: right;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  transform-origin: center; }

.popular-cars-prev, .popular-cars-next, .popular-city-next, .popular-city-prev, .cc-gallery-next, .cc-gallery-prev {
  display: inline-block;
  height: 100%; }
  .popular-cars-prev img, .popular-cars-next img, .popular-city-next img, .popular-city-prev img, .cc-gallery-next img, .cc-gallery-prev img {
    height: 100%;
    width: auto; }

.slider-heading {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 1.5em; }

.popular-cars-slider-holder {
  margin-bottom: 3em; }

.popular-cars-slider {
  overflow: hidden; }
  .popular-cars-slider .swiper-slide {
    position: relative; }
    .popular-cars-slider .swiper-slide a {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: inline-block; }
    .popular-cars-slider .swiper-slide img {
      padding-bottom: 1em; }
    .popular-cars-slider .swiper-slide span {
      font-weight: 700; }
    .popular-cars-slider .swiper-slide .car-name:after {
      content: ' - '; }

.popular-city-slider {
  overflow: hidden;
  margin-bottom: 4em; }
  .popular-city-slider .swiper-slide {
    position: relative;
    text-align: center; }
    .popular-city-slider .swiper-slide a {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: inline-block; }
    .popular-city-slider .swiper-slide .city-name {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.5em;
      display: inline-block; }

.how-it-works-holder {
  position: relative;
  display: block;
  background: url("../images/how-it-works-1.png") no-repeat center;
  background-size: cover;
  height: 15.5em;
  width: 100%;
  margin-bottom: 6.666em;
  border-bottom: 1px solid #90a4ae;
  border-top: 1px solid #90a4ae;
  color: #ef5350; }
  .how-it-works-holder:hover {
    color: #ef5350; }
  .how-it-works-holder span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    top: 45%;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    font-weight: 700; }

.footer {
  width: 100%;
  border-top: 1px solid #90a4ae;
  border-bottom: 1px solid #90a4ae;
  text-align: center; }

.footer-content {
  margin: 0 auto;
  max-width: 1920px;
  text-align: center;
  padding: 2.4em 0 2em; }
  .footer-content .footer-block {
    display: inline-block; }
    .footer-content .footer-block select {
      width: 100%;
      display: inline-block;
      margin-bottom: 1em;
      font-size: 1.15em;
      height: 2em;
      padding-left: 0.5em;
      border: 1px solid #cfd8dc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .footer-content .footer-block:first-child {
      float: left; }
    .footer-content .footer-block:last-child {
      float: right; }

.contact-phone li {
  padding-bottom: 1.5em;
  color: black; }

.footer-link-group {
  text-align: left; }
  .footer-link-group li {
    padding-bottom: 1em; }
    .footer-link-group li a {
      color: black;
      font-size: 0.888em;
      font-weight: 300; }
      .footer-link-group li a:hover {
        color: black; }

.social-row {
  text-align: center;
  padding: 1.222em 0; }

.social-bar li {
  font-size: 24px;
  margin-right: 1em; }
  .social-bar li a {
    display: inline-block;
    padding: 0.2em;
    color: #607d8b; }
    .social-bar li a:hover {
      color: #607d8b; }

.search-page-heading {
  padding: 1.3em 0; }
  .search-page-heading .detailed-search {
    text-decoration: underline;
    display: inline-block;
    color: #455a64;
    font-weight: 700; }
    .search-page-heading .detailed-search:hover {
      text-decoration: underline; }
    .search-page-heading .detailed-search:hover {
      color: #455a64; }
  .search-page-heading .look-on-map {
    font-size: 0.888em;
    font-weight: 700;
    color: #90a4ae;
    display: inline-block;
    float: right; }
    .search-page-heading .look-on-map:hover {
      color: #90a4ae; }

.search-result {
  height: 14.61em;
  width: 100%;
  margin-bottom: 1.333em;
  display: table; }
  .search-result-img-sector {
    height: 14.61em;
    display: table-cell;
    vertical-align: top;
    position: relative;
    z-index: 400; }
    .search-result-img-sector img {
      height: 14.61em;
      width: auto; }
  .search-result-text-sector {
    position: relative;
    z-index: 300;
    left: -2px;
    display: table-cell;
    border: 1px solid #90a4ae;
    border-left: none;
    height: 14.61em;
    max-height: 14.61em;
    vertical-align: top;
    padding: 0.75em 0.75em 0.5em 1.5em; }
    .search-result-text-sector img {
      height: 20px;
      width: auto; }
    .search-result-text-sector .search-result-heading {
      font-weight: 700;
      color: #455a64;
      display: inline-block;
      width: 100%; }
    .search-result-text-sector .search-result-short-description {
      padding: 0.75em 0;
      max-height: 7.33em;
      overflow: hidden; }
      .search-result-text-sector .search-result-short-description * {
        line-height: 1.2em;
        margin: 0; }
    .search-result-text-sector .search-result-more-info {
      display: inline-block;
      line-height: 1.555em;
      padding: 0 1em;
      font-weight: 500;
      border: 1px solid #455a64;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #455a64;
      text-align: center;
      margin-bottom: 1em; }
      .search-result-text-sector .search-result-more-info:hover {
        color: #455a64; }
    .search-result-text-sector .search-result-info-row .info-block {
      display: inline-block;
      margin-right: 1.333em; }
      .search-result-text-sector .search-result-info-row .info-block img, .search-result-text-sector .search-result-info-row .info-block span {
        display: inline-block;
        vertical-align: middle; }
      .search-result-text-sector .search-result-info-row .info-block span {
        color: #455a64;
        font-size: 0.888em;
        font-weight: 300;
        margin-left: 0.6em; }

.more-results-row {
  padding-top: 1.6em;
  text-align: center;
  padding-bottom: 4em; }
  .more-results-row a {
    background: #455a64;
    font-size: 0.777em;
    font-weight: 500;
    line-height: 2.4em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 1.5em;
    color: white;
    display: inline-block; }
    .more-results-row a:hover {
      color: white; }

.cc-price-holder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%; }
  .cc-price-holder .cc-price {
    display: inline-block;
    padding: 0 1.5em;
    font-weight: 700;
    line-height: 2.5em;
    font-size: 1.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #455a64;
    background: white; }

.cc-map-holder {
  border: 1px solid #b0bec5;
  padding: 0 0.8em 0.8em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .cc-map-holder .rent-term {
    font-size: 1.3em;
    font-weight: 400;
    color: #607d8b;
    display: inline-block;
    width: 100%; }

.cc-map {
  height: 14.3em;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  margin: 0.5em 0; }
  .cc-map iframe {
    width: 100%;
    height: 100%; }

.cc-section-first {
  padding-top: 1em;
  padding-bottom: 1.75em;
  border-bottom: 1px solid #eceff1; }

.cc-rent-button {
  font-size: 1.3em;
  line-height: 2.3em;
  display: inline-block;
  width: 100%;
  background: #ef5350;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center; }
  .cc-rent-button:hover {
    color: white; }

.cc-heading {
  font-size: 1.5em;
  margin: 0;
  text-align: center; }

.cc-profile-holder {
  padding: 0.8em 1em 1.3em;
  border: 1px solid #b0bec5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.cc-profile-photo {
  width: 6em;
  height: 6em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }

.cc-user-info {
  display: inline-block;
  vertical-align: middle; }

.cc-user-name {
  display: block; }

.cc-user-location {
  font-size: 0.9em;
  display: block;
  color: #607d8b; }

.cc-profile-contact {
  color: #607d8b;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  line-height: 2.3em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 1em;
  border: 1px solid #607d8b; }
  .cc-profile-contact:hover {
    color: #607d8b; }

.cc-car-info {
  color: #455a64;
  display: inline-block;
  margin-right: 1em;
  font-size: 0.8em; }
  .cc-car-info :last-child {
    margin-right: 0; }

.cc-detailed-info {
  color: #607d8b;
  text-decoration: underline;
  float: right;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 0.15em; }

.cc-gallery-heading {
  font-size: 1.5em;
  line-height: 1.5em;
  display: inline-block; }

.cc-gallery {
  height: 18em;
  margin: 1em 0;
  overflow: hidden; }
  .cc-gallery .swiper-slide {
    display: table;
    height: 18em;
    max-height: 100%;
    background: black; }
    .cc-gallery .swiper-slide .gallery-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      max-height: 100%;
      text-align: center; }
      .cc-gallery .swiper-slide .gallery-cell img {
        max-width: 100%;
        max-height: 18em;
        width: auto;
        height: auto;
        display: inline-block; }

.left-comment {
  background: #ef5350;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 1em;
  margin-right: 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-align: center; }
  .left-comment:hover {
    color: white; }
  .left-comment:focus {
    color: white;
    text-decoration: none; }

.comment-table {
  display: table; }

.comment-cell {
  display: table-cell;
  vertical-align: top; }
  .comment-cell:first-child {
    white-space: nowrap;
    padding-top: 3em; }
  .comment-cell:last-child {
    border-bottom: 1px solid #eceff1;
    width: 100%;
    padding: 3em 0; }

.comment-table:last-child .comment-cell:last-child {
  border-bottom: none; }

.comment-section-heading .comment-cell:first-child {
  padding: 0;
  vertical-align: baseline; }
.comment-section-heading .comment-cell:last-child {
  padding-bottom: 1.5em;
  padding-top: 0;
  vertical-align: baseline; }

.cc-section-second {
  border-bottom: 1px solid #eceff1; }

.cc-section-third {
  padding: 1em 0;
  border-bottom: 1px solid #eceff1;
  margin-bottom: 1.2em; }

.comment-counter, .comment-counter-after {
  font-size: 1.5em;
  font-weight: 700; }

.comment-profile-photo {
  width: 9em;
  height: 9em;
  margin-right: 8.333em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.pre-datepicker-row {
  text-align: center; }
  .pre-datepicker-row input {
    display: inline-block; }

.comment-like {
  padding: 0 1em;
  line-height: 2em;
  border: 1px solid #607d8b;
  display: inline-block;
  float: right;
  color: #607d8b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .comment-like:hover {
    color: #607d8b; }

.comment-heading span {
  font-size: 1.3em;
  font-weight: 700; }

.comment-date {
  font-size: 0.8em;
  color: #607d8b; }

.pagination {
  padding-bottom: 6.5em; }
  .pagination li {
    margin-right: 0.5em;
    width: 2em;
    height: 2em;
    text-align: center;
    border: 1px solid #607d8b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  .pagination a {
    color: #607d8b;
    display: inline-block;
    line-height: 2em;
    width: 100%;
    text-align: center;
    vertical-align: top; }
    .pagination a:hover {
      color: #607d8b; }

.po-heading {
  text-align: left;
  padding-bottom: 0.5em; }

.po-user-name {
  display: inline-block;
  font-size: 3em;
  line-height: 1em; }

.po-edit {
  display: inline-block;
  line-height: 3em;
  color: black;
  text-decoration: underline; }
  .po-edit:hover {
    color: black; }
  .po-edit:focus {
    text-decoration: underline; }

.po-profile-photo {
  width: 13em;
  height: 13em;
  display: inline-block;
  overflow: hidden;
  margin-right: 4em; }

.po-main-section {
  display: inline-block;
  vertical-align: top;
  text-align: left; }
  .po-main-section > div {
    padding-bottom: 0.5em; }

.form-heading {
  font-size: 1.75em;
  display: inline-block;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 1.5em 0;
  margin-top: 2em; }

.form-tab {
  display: inline-block;
  font-size: 1.15em;
  line-height: 3em;
  margin-right: 0.5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #b0bec5;
  background: #eceff1;
  position: relative;
  bottom: -1px;
  z-index: 400;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom; }

.non-active-tab {
  width: 2em; }

.tab-index {
  width: 2em;
  display: inline-block;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.active-form-tab {
  background: #ef5350;
  color: white;
  border: 1px solid #ef5350;
  width: 10em; }
  .active-form-tab .tab-index {
    width: 1em; }
  .active-form-tab:first-child {
    width: 20em; }

.rent-form {
  display: inline-block;
  width: 100%;
  border: 1px solid #b0bec5;
  position: relative;
  z-index: 200;
  padding: 2.15em 1.75em;
  margin-bottom: 3em; }
  .rent-form table {
    margin: 1em auto 1em; }
    .rent-form table select, .rent-form table input {
      width: 100%;
      height: 2.5em;
      border: 1px solid #b0bec5;
      padding: 0 0.5em; }
      .rent-form table select:focus, .rent-form table input:focus {
        outline: none; }
    .rent-form table td {
      padding-right: 1em; }
      .rent-form table td:last-child {
        padding-right: 0; }
    .rent-form table tr {
      border-bottom: 10px solid white; }
      .rent-form table tr:last-child {
        border-bottom: none; }
    .rent-form table input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: black; }
    .rent-form table input::-moz-placeholder {
      /* Firefox 19+ */
      color: black; }
    .rent-form table input:-ms-input-placeholder {
      /* IE 10+ */
      color: black; }
    .rent-form table input:-moz-placeholder {
      /* Firefox 18- */
      color: black; }
  .rent-form input[type="submit"] {
    display: inline-block;
    float: right;
    line-height: 2.25em;
    width: 10em;
    text-align: center;
    color: white;
    background: #455a64;
    border: none; }
    .rent-form input[type="submit"]:focus {
      outline: none; }

.tab-content {
  display: none;
  opacity: 0;
  position: relative;
  overflow: hidden;
  z-index: 300;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }
  .tab-content textarea {
    border: 1px solid #b0bec5;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    line-height: 1.25em; }
    .tab-content textarea:focus {
      outline: none; }
    .tab-content textarea::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #b0bec5; }
    .tab-content textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #b0bec5; }
    .tab-content textarea:-ms-input-placeholder {
      /* IE 10+ */
      color: #b0bec5; }
    .tab-content textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #b0bec5; }
  .tab-content > div:last-child {
    padding-top: 1em; }

#car-card-heading {
  height: 3.5em;
  max-height: 3.5em;
  margin-top: 1.5em; }

#car-card-descriprion {
  height: 7em;
  max-height: 7em; }

.active-tab {
  opacity: 1;
  z-index: 400; }

.tab-content-heading {
  font-size: 1.3em;
  display: inline-block;
  width: 100%; }

.form-next-step-button {
  display: inline-block;
  float: right;
  padding: 0 1em;
  background: #455a64;
  color: white;
  font-size: 1.15em;
  line-height: 2.25em; }
  .form-next-step-button:hover {
    color: white; }
  .form-next-step-button:focus {
    text-decoration: none;
    color: white; }

.form-prev-step-button {
  display: inline-block;
  float: left;
  padding: 0 1em;
  background: #455a64;
  color: white;
  font-size: 1.15em;
  line-height: 2.25em; }
  .form-prev-step-button:hover {
    color: white; }
  .form-prev-step-button:focus {
    text-decoration: none;
    color: white; }

.form-row {
  margin-bottom: 1em;
  width: 100%; }
  .form-row span {
    line-height: 2.5em;
    vertical-align: middle; }
  .form-row .recommended-price, .form-row .price, .form-row .currency {
    color: #b0bec5; }
  .form-row #form-price, .form-row #form-datepicker {
    display: inline-block;
    margin: 0 2em;
    line-height: 2.5em;
    width: 10em;
    text-align: center;
    color: #b0bec5;
    border: 1px solid #b0bec5; }
    .form-row #form-price:focus, .form-row #form-datepicker:focus {
      outline: none; }
    .form-row #form-price::-webkit-input-placeholder, .form-row #form-datepicker::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #b0bec5; }
    .form-row #form-price::-moz-placeholder, .form-row #form-datepicker::-moz-placeholder {
      /* Firefox 19+ */
      color: #b0bec5; }
    .form-row #form-price:-ms-input-placeholder, .form-row #form-datepicker:-ms-input-placeholder {
      /* IE 10+ */
      color: #b0bec5; }
    .form-row #form-price:-moz-placeholder, .form-row #form-datepicker:-moz-placeholder {
      /* Firefox 18- */
      color: #b0bec5; }

.po-contact-info-section span {
  font-size: 1.3em;
  color: black;
  display: inline-block;
  white-space: pre; }

.contact-data {
  margin: 0.5em 0; }

.po-section-heading {
  margin-bottom: 1em;
  font-size: 1.3em;
  display: inline-block;
  line-height: 2em; }

.section-first {
  margin: 0.25em 0 1em; }

.po-contact-info-section .po-user-name {
  font-size: 3em;
  line-height: 1em; }

.po-contact-info-section {
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center; }

.city-search {
  height: 100%;
  display: inline-block;
  width: 30%;
  float: left;
  border-right: 1px solid #90a4ae; }
  .city-search input[type="text"] {
    width: 100%;
    padding: 0 1.5em;
    border: none;
    line-height: 4em; }
    .city-search input[type="text"]:focus {
      outline: none; }

.on-page-search-trigger {
  height: 100%;
  display: inline-block;
  float: right;
  border-left: 1px solid #90a4ae;
  padding: 0 3em;
  text-align: center;
  background: #455a64;
  cursor: pointer;
  font-size: 1.5em; }
  .on-page-search-trigger span {
    line-height: 2.8em;
    color: white; }

.search-date-block {
  display: inline-block;
  width: 30%; }

.callendar {
  height: 5.7em;
  width: 50px;
  display: inline-block; }

.on-page-search {
  text-align: center; }

#rent-slider {
  display: inline-block;
  width: 20em;
  background: #607d8b;
  height: 6px;
  margin: 0 2em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  #rent-slider .ui-slider-handle {
    outline: none;
    border: none;
    top: -12px;
    background: #ef5350;
    width: 6px;
    height: 20px;
    margin-left: -3px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    #rent-slider .ui-slider-handle:focus {
      outline: none;
      border: none; }

.ds-slider {
  height: 6px;
  width: 250px;
  margin-right: 30px;
  border: none;
  display: inline-block;
  background: #607d8b;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .ds-slider .ui-slider-handle {
    outline: none;
    border: none;
    top: -12px;
    background: #ef5350;
    width: 6px;
    height: 20px;
    margin-left: -3px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .ds-slider .ui-slider-handle:focus {
      outline: none;
      border: none; }
  .ds-slider .ui-slider-range {
    background: #ef5350; }

.ds-slider-row {
  white-space: nowrap;
  text-align: left;
  display: inline-block;
  width: 500px; }
  .ds-slider-row input {
    border: none; }
    .ds-slider-row input:focus {
      outline: none; }
  .ds-slider-row p {
    display: inline-block; }

.rent-slider-attributes {
  display: inline-block;
  color: #b0bec5; }

.slider-slice {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 12px;
  top: -9px;
  background: #607d8b; }
  .slider-slice-1 {
    left: 0; }
  .slider-slice-2 {
    left: 33%; }
  .slider-slice-3 {
    left: 66%; }
  .slider-slice-4 {
    left: 100%; }

#form-rent-term {
  width: 2em;
  border: none; }
  #form-rent-term:focus {
    outline: none; }

.ui-datepicker-header {
  background: #ef5350; }

.ui-datepicker-title {
  color: #b0bec5; }

.ui-datepicker .ui-state-default, .ui-datepicker .ui-state-hover, .ui-datepicker .ui-state-active {
  border: none;
  background: white;
  display: inline-block;
  text-align: center;
  width: 2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.ui-datepicker .ui-state-active {
  background: #ef5350;
  color: #b0bec5; }
.ui-datepicker .ui-state-highlight {
  color: black; }
.ui-datepicker th {
  color: #b0bec5;
  text-align: center; }
.ui-datepicker td {
  text-align: center; }

#page-search-date-from, #page-search-date-to, #rent-terms-from, #rent-terms-to {
  display: inline-block;
  width: 7em;
  margin-left: 1em;
  padding: 0.5em;
  text-align: center; }

#book-date-from, #book-date-to {
  display: inline-block;
  width: 7em;
  padding: 0 0.5em; }

#book-date-to {
  margin-left: 0.5em; }

.search-date-block {
  width: 36%;
  height: 100%;
  padding-top: 1em; }
  .search-date-block label {
    color: #b0bec5; }

.search-block {
  text-align: left; }

.background-mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000; }

.modal-box {
  display: none;
  position: fixed;
  bottom: auto;
  left: 50%;
  min-width: 400px;
  max-width: 600px;
  padding: 30px;
  min-height: 9.5em;
  color: #455a64;
  text-align: center;
  background: white;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 0 20px 0 lightgray;
  -moz-box-shadow: 0 0 20px 0 lightgray;
  box-shadow: 0 0 20px 0 lightgray;
  z-index: 2100; }

.modal-box__close-btn {
  width: 16px;
  height: 16px;
  background: url("../images/cross.svg") center no-repeat;
  background-size: cover;
  display: block;
  float: right;
  position: relative;
  right: -16px;
  top: -16px; }

.mob-menu {
  z-index: 900;
  position: fixed;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  background: white; }

#profile-edit, #login, #profile-reg, #comment-form {
  text-align: left;
  width: 100%; }
  #profile-edit span, #login span, #profile-reg span, #comment-form span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: black;
    padding-bottom: 1em;
    white-space: pre-line; }
  #profile-edit label, #login label, #profile-reg label, #comment-form label {
    display: block;
    width: 100%; }
  #profile-edit input, #login input, #profile-reg input, #comment-form input {
    display: block;
    width: 100%; }
  #profile-edit textarea, #login textarea, #profile-reg textarea, #comment-form textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 4em; }
  #profile-edit input[type="submit"], #login input[type="submit"], #profile-reg input[type="submit"], #comment-form input[type="submit"] {
    background: white;
    border: 1px solid #607d8b;
    width: 10em;
    text-align: center;
    margin: 1em auto 0;
    line-height: 2em; }

#profile-reg {
  width: 500px;
  max-width: 95%;
  display: block;
  margin: 30px auto;
  padding: 20px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #455a64; }
  #profile-reg .img-load-button {
    display: inline-block;
    width: auto;
    margin-top: 1em;
    cursor: pointer; }

#id-show-on-map iframe {
  width: 400px;
  height: 500px; }

.detailed-search-block {
  display: none; }

#car-gallery-load, #car-document-load, #driver-licence, #passport, #make-photo {
  position: fixed;
  left: 0;
  top: 0; }

.img-load-button, .document-load-button {
  display: inline-block;
  padding: 0 1em;
  line-height: 2em;
  background: #455a64;
  margin-top: 1em;
  color: white; }

.thumb {
  border: 1px solid #607d8b;
  height: 100px;
  width: auto;
  margin: 10px 5px 0 0; }

#detailed-search {
  text-align: center;
  padding-bottom: 30px; }
  #detailed-search input[type="submit"] {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    background: #455a64;
    color: white;
    border: none;
    outline: none; }
    #detailed-search input[type="submit"]:focus {
      outline: none; }
  #detailed-search select {
    width: 230px;
    margin-right: 40px;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.15em;
    height: 2em;
    padding-left: 0.5em;
    border: 1px solid #cfd8dc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #607d8b; }
    #detailed-search select:last-child {
      margin-right: 0; }
  #detailed-search #brand {
    width: 500px;
    border: 1px solid #cfd8dc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 0.5em;
    font-size: 1.15em;
    margin-bottom: 1em;
    height: 2em;
    color: #607d8b; }

.ds-row {
  display: inline-block;
  width: 500px;
  text-align: left; }

.cc-detailed-info-block {
  display: none; }

.d-i-row {
  padding-bottom: 10px; }
  .d-i-row:first-child {
    padding-top: 10px; }
  .d-i-row .d-i {
    color: #455a64;
    margin-left: 10px; }

.reg-link {
  display: inline-block;
  color: white;
  line-height: 30px;
  padding: 0 1em;
  background: #455a64;
  float: left;
  margin-top: 20px; }
  .reg-link:hover {
    color: white; }

.main-content {
  z-index: 1100;
  background: white;
  position: relative; }

.pre-price-block {
  padding-top: 8px;
  color: #607d8b;
  display: none; }

select option:first-child {
  display: none; }

.gallery-thumbs {
  position: relative;
  max-height: 11em;
  height: auto;
  padding: 0 4.75em;
  overflow: hidden; }
  .gallery-thumbs .swiper-wrapper {
    height: 100%; }
  .gallery-thumbs .swiper-slide {
    height: 11em;
    width: auto;
    max-width: 100%; }
    .gallery-thumbs .swiper-slide img {
      max-height: 11em;
      max-width: 100%;
      height: auto;
      width: auto; }

.gallery-slider-row > div {
  text-align: center; }

.slider-table {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%; }

.gallery-top {
  display: inline-block;
  max-width: 83.2%;
  margin: 0 auto 1em;
  overflow: hidden;
  position: relative;
  max-height: 0;
  background: black;
  -webkit-transition: all 1.1s ease;
  -moz-transition: all 1.1s ease;
  transition: all 1.1s ease; }
  .gallery-top .swiper-wrapper {
    max-height: 100%;
    height: 100%;
    width: auto; }
  .gallery-top .swiper-slide {
    max-height: 400px;
    height: 400px; }
    .gallery-top .swiper-slide img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 400px;
      display: inline-block; }
  .gallery-top .swiper-button-prev, .gallery-top .swiper-button-next {
    top: 50%; }
  .gallery-top .swiper-button-prev {
    left: 2%; }
  .gallery-top .swiper-button-next {
    right: 2%; }
  .gallery-top .gallery-close {
    position: absolute;
    right: 3%;
    top: 5%;
    width: 2em;
    height: 2em;
    background: transparent;
    z-index: 10;
    cursor: pointer; }

.slider-image-holder {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100%; }

.opened-gallery-top {
  max-height: 400px; }

.pagination-gallery-button {
  width: 4em;
  height: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
  display: inline-block; }
  .pagination-gallery-button > div {
    display: table;
    height: 100%; }
    .pagination-gallery-button > div > div {
      line-height: 100%;
      display: table-cell;
      width: 4em;
      text-align: left;
      vertical-align: middle;
      cursor: pointer;
      color: white;
      font-size: 1.4em; }
      .pagination-gallery-button > div > div img {
        width: 70%; }

.left-pagination-gallery-button {
  left: 0; }

.right-pagination-gallery-button {
  right: 0;
  transform: rotate(180deg); }

.search-map {
  height: 350px;
  width: 100%;
  max-width: 400px; }
  .search-map iframe {
    width: 100%;
    height: 100%; }

#id-show-on-map {
  padding: 0; }
  #id-show-on-map .modal-box__close-btn {
    left: 5px;
    top: 5px; }

.poopup-content span:first-child {
  padding-top: 20px;
  display: inline-block;
  line-height: 30px; }

.map-heading {
  line-height: 30px;
  display: inline-block;
  width: 100%; }

.how-it-works-section-start {
  position: relative;
  background: url("../images/how-it-works-1.png") no-repeat center;
  background-size: cover;
  height: 16em;
  margin-top: 4.286em;
  margin-bottom: -4.286em;
  border-bottom: 1px solid #90a4ae;
  border-top: 1px solid #90a4ae; }
  .how-it-works-section-start > div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%; }
    .how-it-works-section-start > div span {
      color: #ef5350;
      font-size: 3em;
      display: inline-block;
      width: 100%;
      text-align: center;
      line-height: 1.1em; }
      .how-it-works-section-start > div span:first-child {
        font-size: 3.5em;
        padding-bottom: 1em; }

.hiw-tabs-section {
  padding: 1em 0;
  margin-right: -30px;
  margin-left: -30px; }

.hiw-tab {
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  display: inline-block;
  line-height: 2em;
  text-align: center;
  background: #455a64;
  margin-bottom: 1em;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.active-hiw-tab {
  background: #ef5350; }

.hiw-tab-content {
  background: #b0bec5;
  padding: 1em;
  display: none;
  margin-bottom: 1em; }
  .hiw-tab-content p:first-child {
    margin-top: 0; }

.active-hiw-content {
  display: block; }

.gallery-slider-row {
  padding: 0.5em 0 1em; }

.rating {
  color: #455a64;
  width: 100%; }

.payment-tab-content {
  display: block;
  margin: 0 auto 3em;
  padding: 0 3em; }
  .payment-tab-content input[type="text"] {
    width: 100%;
    display: inline-block;
    height: 2.5em;
    padding: 0 1em; }
    .payment-tab-content input[type="text"]:focus {
      outline: none; }

.payment-table {
  display: table;
  width: 100%;
  height: 3em;
  margin: 1em 0; }
  .payment-table div {
    display: table-cell;
    height: 100%;
    text-align: center; }
    .payment-table div label {
      display: inline-block;
      font-size: 1.3em;
      line-height: 3em;
      text-align: center;
      width: 95%;
      padding: 0 2em;
      border: 1px solid #90a4ae;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .payment-table div:first-child {
      text-align: left; }
    .payment-table div:last-child {
      text-align: right; }
  .payment-table input[type="radio"] {
    position: fixed;
    left: 0;
    top: 0; }
  .payment-table input[type="radio"]:checked + label {
    background: #607d8b;
    color: white; }

.insurance-check {
  float: right; }

#car-insurance {
  width: 1.1em;
  height: 1.1em;
  position: relative;
  bottom: -2px; }

.doc-row {
  margin-top: 1em; }
  .doc-row label {
    line-height: 2em;
    margin-top: 0; }

.dp-tabs-row {
  padding-top: 6em;
  padding-bottom: 1em; }

.dp-tab {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #607d8b; }
  .dp-tab .tab-index {
    width: auto;
    margin-right: 4px; }

.dp-tab-active {
  color: #ef5350; }

.cc-rating {
  text-align: center; }

#id-registration-login .reg-link {
  width: 100%;
  margin-top: 1em; }
#id-registration-login .social {
  margin-top: 1em; }
  #id-registration-login .social li {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 2em;
    height: 2em;
    margin-right: 1em; }
    #id-registration-login .social li a {
      display: inline-block;
      line-height: 2em;
      width: 100%;
      text-align: center;
      color: white; }
      #id-registration-login .social li a:hover {
        color: white; }
      #id-registration-login .social li a > * {
        font-size: 1.5em;
        vertical-align: middle; }
  #id-registration-login .social .soc-vk {
    background: #45668e; }
  #id-registration-login .social .soc-fb {
    background: #3b5998; }
  #id-registration-login .social .soc-ok {
    background: #ee8208; }
  #id-registration-login .social .soc-gl {
    background: #dd4b39; }

.document-upload-row {
  position: relative; }
  .document-upload-row label {
    width: 40%;
    text-align: center;
    cursor: pointer;
    margin-top: 0; }
    .document-upload-row label:last-of-type {
      float: right; }
  .document-upload-row .image-holder {
    display: inline-block;
    width: 40%; }
  .document-upload-row .make-photo-button {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }

#payment-country {
  width: 30%;
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 1.15em;
  height: 2em;
  padding-left: 0.5em;
  border: 1px solid #cfd8dc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-width: 150px; }

.input-separator {
  margin-top: 1em; }
  .input-separator input {
    width: 40%;
    padding-left: 1em;
    height: 2.5em; }
    .input-separator input:last-child {
      float: right; }

#card-number {
  width: 100%;
  padding-left: 1em;
  height: 2.5em; }

.dp-form {
  padding-bottom: 1em; }
  .dp-form input[type="submit"] {
    display: inline-block;
    float: right;
    line-height: 2.25em;
    width: 10em;
    text-align: center;
    color: white;
    background: #455a64;
    border: none; }
    .dp-form input[type="submit"]:focus {
      outline: none; }

.revision {
  overflow: auto;
  padding: 2px 0 1em; }
  .revision > div {
    display: inline-block;
    float: left;
    height: 3em;
    white-space: nowrap;
    padding: 0 1em;
    border: 1px solid #455a64;
    margin-left: -1px; }
    .revision > div:first-of-type {
      margin-left: 0; }
    .revision > div span {
      line-height: 3em;
      vertical-align: middle;
      display: inline-block; }
    .revision > div img {
      display: none; }
    .revision > div.confirmed img {
      height: 20px;
      width: auto;
      display: inline-block;
      vertical-align: text-top;
      margin-left: 5px; }

.get-contact {
  width: 8em;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  background: #607d8b;
  color: white;
  display: inline-block; }
  .get-contact:hover {
    color: white; }

.comment-tab-row .comment-tab {
  padding: 0 2em;
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
  background: white;
  border: 1px solid #607d8b;
  color: black;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .comment-tab-row .comment-tab:hover {
    color: black; }
  .comment-tab-row .comment-tab.active {
    background: #607d8b;
    color: white; }
    .comment-tab-row .comment-tab.active:hover {
      color: white; }
  .comment-tab-row .comment-tab:focus {
    text-decoration: none; }

.owners-reviews {
  display: none; }

.input-separator {
  overflow: auto;
  padding: 5px 0; }
  .input-separator input {
    width: 45%;
    height: 2.5em;
    border: 1px solid #b0bec5;
    padding: 0 0.5em; }
  .input-separator input:first-child {
    float: left; }
  .input-separator input:last-child {
    float: right; }

.profile-block {
  position: relative; }

.profile-submenu {
  position: absolute;
  top: 100%;
  right: 1px;
  display: none;
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  min-width: 100%; }
  .profile-submenu li {
    border-bottom: 1px solid #ddd; }
    .profile-submenu li a {
      color: black;
      display: inline-block;
      width: 100%;
      padding: 0.5em; }
      .profile-submenu li a:hover {
        color: black; }
    .profile-submenu li:last-of-type {
      border-bottom: none; }

.rent-terms {
  display: inline-block; }

.chat-section {
  border: 1px solid #ddd;
  margin-top: 3em;
  overflow: auto; }

.chat-contacts-sector, .chat-text-sector {
  display: block;
  float: left; }

.chat-contacts-sector {
  width: 30%;
  border-right: 1px solid #ddd;
  min-height: 30em; }

.chat-text-sector {
  width: 70%; }

.chat-top-row {
  border-bottom: 1px solid #ddd;
  height: 5em;
  padding: 1em; }

.chat-bot-row {
  min-height: 30em; }

#chat-contacts-search {
  display: block;
  position: relative;
  margin-top: 0.5em;
  height: 2em;
  border: 1px solid #607d8b; }
  #chat-contacts-search input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0 8em 0 1em;
    border: none; }
    #chat-contacts-search input[type="text"]:focus {
      outline: none; }
  #chat-contacts-search input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    color: white;
    width: 7em;
    border: none;
    background: #607d8b; }
    #chat-contacts-search input[type="submit"]:focus {
      outline: none; }

.chat-contacts-list {
  width: 100%; }
  .chat-contacts-list li {
    padding: 1em;
    border-bottom: 1px solid #ddd;
    cursor: pointer; }

.round-img-wrap {
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #607d8b;
  display: inline-block;
  vertical-align: middle; }

.chat-contact-username {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: middle;
  margin-left: 0.5em; }

.chat-username {
  font-size: 2em;
  line-height: 1.5em;
  display: inline-block;
  margin-left: 1em; }

#chat-massages {
  display: block;
  position: relative;
  height: 100%;
  min-height: 30em; }
  #chat-massages .bottom-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    padding: 1em; }
    #chat-massages .bottom-holder textarea {
      height: 3em;
      max-height: 3em;
      min-height: 3em;
      width: 70%;
      min-width: 70%;
      max-width: 70%;
      border: 1px solid #607d8b;
      padding: 0.5em; }
      #chat-massages .bottom-holder textarea:focus {
        outline: none; }
    #chat-massages .bottom-holder input[type="submit"] {
      width: 25%;
      height: 3em;
      display: inline-block;
      float: right;
      border: none;
      background: #607d8b;
      color: white; }
  #chat-massages .massage {
    padding: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: white;
    float: left;
    width: 60%;
    margin-bottom: 1em; }
    #chat-massages .massage:last-child {
      margin-bottom: 0; }
    #chat-massages .massage p {
      margin: 0; }
  #chat-massages .input-massage {
    background: #f2f2f2;
    float: right;
    clear: both; }

.massages-sector {
  width: 100%;
  height: 30em;
  padding: 2em 2em 6em; }

@media all and (min-width: 1920px) {
  body {
    font-size: 18px !important; } }
@media all and (max-width: 1920px) {
  body {
    font-size: 18px !important; } }
@media all and (max-width: 1750px) {
  body {
    font-size: 17px !important; } }
@media all and (max-width: 1600px) {
  body {
    font-size: 16px !important; } }
@media all and (max-width: 1440px) {
  body {
    font-size: 14px !important; } }
@media all and (max-width: 1366px) {
  body {
    font-size: 13px !important; } }
@media all and (max-width: 1280px) {
  body {
    font-size: 12px !important; }

  .slider-controls {
    right: 0;
    left: 0; }

  .main-slider .slider-button-row {
    top: 40%;
    padding: 0 2%; } }
@media all and (max-width: 1024px) {
  .desktop-only-element {
    display: none !important; }

  .mob-menu-burger-block {
    display: table-cell !important; }

  .mobile-menu-burger {
    height: 26px;
    width: 40px;
    margin-right: 3em;
    display: inline-block;
    position: relative; }
    .mobile-menu-burger .stick, .mobile-menu-burger:before, .mobile-menu-burger:after {
      width: 100%;
      display: block;
      height: 2px;
      background: black;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      position: absolute;
      content: '';
      left: 0; }
    .mobile-menu-burger:before {
      top: 0; }
    .mobile-menu-burger .stick {
      top: 50%;
      -webkit-transform: translateY(-1px);
      -moz-transform: translateY(-1px);
      transform: translateY(-1px); }
    .mobile-menu-burger:after {
      bottom: 0; }

  .logo-block {
    width: auto; }

  .main-logo-holder {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  .header-content {
    position: relative; }

  .header-block.search-block {
    text-align: center; }

  .on-page-search {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
    height: auto; }
    .on-page-search .search-block {
      width: 80%;
      display: inline-block;
      border: 1px solid #ddd;
      float: none;
      text-align: center; }
      .on-page-search .search-block:nth-child(2) {
        border-top: none;
        border-bottom: none; }
    .on-page-search .city-search {
      text-align: center; }
      .on-page-search .city-search input {
        border: none;
        width: 75%;
        display: inline-block;
        text-align: center; }
    .on-page-search-trigger {
      text-align: center; }

  .search-date-block {
    padding: 1em 0; }

  .left-comment {
    padding: 0 0.5em;
    margin-right: 1em; }

  .comment-profile-photo {
    margin-right: 5.333em; }

  #book-date-from, #book-date-to {
    width: 100px; }

  .cc-map-holder {
    margin-bottom: 20px; }

  .header-block {
    border: none; }

  .mob-menu {
    position: fixed;
    display: block; }
    .mob-menu.triggered .mob-block-1 {
      top: 55px; }
    .mob-menu.triggered .mob-block-2 {
      top: 90px; }
    .mob-menu.triggered .mob-block-3 {
      top: 125px; }

  .mob-block {
    position: fixed;
    left: 0;
    top: 10px;
    height: 30px;
    display: inline-block;
    background: #455a64;
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    transition: top 0.3s ease;
    color: white;
    overflow: hidden; }
    .mob-block:hover {
      color: white; }
    .mob-block .icon {
      display: inline-block;
      height: 30px;
      width: 30px;
      text-align: center;
      vertical-align: top; }
      .mob-block .icon > * {
        display: inline-block;
        line-height: 30px;
        font-size: 20px;
        color: white;
        vertical-align: top; }
    .mob-block span {
      display: inline-block;
      width: 1px;
      overflow: hidden;
      line-height: 30px;
      -webkit-transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      transition: width 0.3s ease;
      text-align: center;
      background: #ef5350;
      padding-left: 1px; }
    .mob-block form {
      display: inline-block;
      width: 1px;
      overflow: hidden;
      height: 30px;
      -webkit-transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      transition: width 0.3s ease;
      background: #ef5350;
      padding-left: 1px;
      text-align: center;
      padding-top: 5px; }
      .mob-block form input {
        display: inline-block;
        width: 120px;
        height: 20px;
        border: none;
        background: rgba(0, 0, 0, 0.1);
        text-align: center; }
        .mob-block form input:focus {
          outline: none; }
    .mob-block.ready span {
      width: 150px; }
    .mob-block.ready form {
      width: 150px; }

  .modal-box {
    max-width: 500px; }

  .rent-form table {
    width: 80%; }
    .rent-form table tr {
      display: inline-block;
      width: 48%; }
      .rent-form table tr:nth-child(2) {
        float: right; }
      .rent-form table tr:last-child {
        width: 100%; }
      .rent-form table tr td {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-bottom: 10px; }
        .rent-form table tr td:last-child {
          padding-bottom: 0; }
        .rent-form table tr td select {
          width: 100%; }

  .search-result {
    height: auto;
    display: block; }
    .search-result-img-sector {
      height: auto;
      display: block;
      z-index: 400; }
      .search-result-img-sector img {
        height: auto;
        width: 100%; }
    .search-result-text-sector {
      border-left: 1px solid #90a4ae;
      height: auto;
      display: block;
      left: 0;
      margin-top: -2px;
      max-height: 2000px; }
    .search-result .search-result-more-info {
      margin-top: 1em; } }
@media all and (max-width: 768px) {
  .form-tab {
    font-size: 1em;
    padding: 0 2px;
    margin-right: 2px; }

  #book-date-to {
    margin-left: 0;
    margin-top: 5px; }

  .cc-profile-holder {
    text-align: center; }

  .cc-profile-contact {
    line-height: 15px;
    padding: 10px 0; }

  .modal-box {
    max-width: 400px; }

  .rent-form table {
    width: 100%; }

  .cc-detailed-info {
    float: none;
    margin-top: 0;
    white-space: nowrap; } }
@media all and (max-width: 640px) {
  .on-page-search .search-block {
    width: 100%; }

  .search-date-block label {
    display: inline-block;
    width: 100%;
    padding-bottom: 5px; }

  #page-search-date-from, #page-search-date-to {
    margin: 0;
    padding: 4px; }

  .mobile-full-width {
    display: inline-block;
    width: 100%; }

  .tab-content:last-child {
    text-align: center; }
    .tab-content:last-child .tab-content-heading {
      text-align: left; }

  .rent-slider-attributes {
    width: 100%; }

  #rent-slider {
    margin: 0;
    width: 100%; }

  .search-result-text-sector .search-result-info-row .info-block {
    margin-right: 0.3em;
    display: block;
    margin-bottom: 0.5em; }
    .search-result-text-sector .search-result-info-row .info-block:last-child {
      margin-bottom: 0; } }
@media all and (max-width: 540px) {
  .cc-map-holder .rent-term {
    text-align: center; }

  .modal-box {
    max-width: 90%;
    min-width: 100px; }

  .po-profile-photo {
    display: block;
    margin: 0 auto 1em; } }

/*# sourceMappingURL=styles.css.map */
