@media all and (min-width : 1920px) {
  body {
    font-size: 18px!important;
  }
}

@media all and (max-width : 1920px) {
  body {
    font-size: 18px!important;
  }
}
@media all and (max-width : 1750px) {
  body {
    font-size: 17px!important;
  }
}
@media all and (max-width : 1600px) {
  body {
    font-size: 16px!important;
  }
}
//LG>MD
@media all and (max-width : 1440px) {
  body {
    font-size: 14px!important;
  }
}

@media all and (max-width : 1366px) {
  body {
    font-size: 13px!important;
  }
}

@media all and (max-width : 1280px) {
  body {
    font-size: 12px!important;
  }
  .slider-controls{
    right: 0;
    left: 0;
  }
  .main-slider .slider-button-row{
    top: 40%;
    padding: 0 2%;
  }
}
//MD>SM
@media all and (max-width : 1024px) {
  .desktop-only-element{
    display: none!important;
  }
  .mob-menu-burger-block{
    display: table-cell!important;
  }
  .mobile-menu-burger{
    height: 26px;
    width: 40px;
    margin-right: 3em;
    display: inline-block;
    position: relative;
    .stick,&:before,&:after{
      width: 100%;
      display: block;
      height: 2px;
      background: black;
      @include border-radius(1px);
      position: absolute;
      content: '';
      left: 0;
    }
    &:before{
      top: 0;
    }
    .stick{
      top: 50%;
      @include transform(translateY(-1px));
    }
    &:after{
      bottom: 0;
    }
  }
  .logo-block{
    width: auto;
  }
  .main-logo-holder{
    position: absolute;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
  .header-content{
    position: relative;
  }
  .header-block.search-block{
    text-align: center;
  }
  .on-page-search{
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
    height: auto;
    .search-block{
      width: 80%;
      display: inline-block;
      border: 1px solid #ddd;
      float: none;
      text-align: center;
      &:nth-child(2){
        border-top: none;
        border-bottom: none;
      }
    }
    .city-search{
      text-align: center;
      input{
        border: none;
        width: 75%;
        display: inline-block;
        text-align: center;
      }
    }
    &-trigger{
      text-align: center;
    }
  }
  .search-date-block{
    padding: 1em 0;
  }
  .left-comment{
    padding: 0 0.5em;
    margin-right: 1em;
  }
  .comment-profile-photo{
    margin-right: 5.333em;
  }
  #book-date-from,#book-date-to{
    width: 100px;
  }
  .cc-map-holder{
    margin-bottom: 20px;
  }
  .header-block{
    border: none;
  }
  .mob-menu{
    position: fixed;
    display: block;
    &.triggered .mob-block{
      &-1{
        top: 55px;
      }
      &-2{
        top: 90px;
      }
      &-3{
        top: 125px;
      }
    }
  }
  .mob-block{
    position: fixed;
    left: 0;
    top: 10px;
    height: 30px;
    display: inline-block;
    background: $heavy-gray;
    @include transition(top 0.3s ease);
    @include color-this-link(white,white);
    overflow: hidden;
    .icon{
      display: inline-block;
      height: 30px;
      width: 30px;
      text-align: center;
      vertical-align: top;
      &>*{
        display: inline-block;
        line-height: 30px;
        font-size: 20px;
        color: white;
        vertical-align: top;
      }
    }
    span{
      display: inline-block;
      width: 1px;
      overflow: hidden;
      line-height: 30px;
      @include transition(width 0.3s ease);
      text-align: center;
      background: $car-red;
      padding-left: 1px;
    }
    form{
      display: inline-block;
      width: 1px;
      overflow: hidden;
      height: 30px;
      @include transition(width 0.3s ease);
      background: $car-red;
      padding-left: 1px;
      text-align: center;
      padding-top: 5px;
      input{
        display: inline-block;
        width: 120px;
        height: 20px;
        border: none;
        background: rgba(0,0,0,0.1);
        text-align: center;
        &:focus{
          outline: none;
        }
      }
    }
    &.ready{
      span{
        width: 150px;
      }
      form{
        width: 150px;
      }
    }
  }
  .modal-box{
    max-width: 500px;
  }
  .rent-form table{
    width: 80%;
    tr{
      display: inline-block;
      width: 48%;
      &:nth-child(2){
        float: right;
      }
      &:last-child{
        width: 100%;
      }
      td{
        display: block;
        width: 100%;
        padding-right: 0;
        padding-bottom: 10px;
        &:last-child{
          padding-bottom: 0;
        }
        select{
          width: 100%;
        }
      }
    }
  }
  .search-result{
    height: auto;
    display: block;
    &-img-sector{
      height: auto;
      display: block;
      z-index: 400;
      img{
        height: auto;
        width: 100%;
      }
    }
    &-text-sector{
      border-left: 1px solid $main-border;
      height: auto;
      display: block;
      left: 0;
      margin-top: -2px;
      max-height: 2000px;
    }
    .search-result-more-info{
      margin-top: 1em;
    }
  }
}
//SM>XS
@media all and (max-width : 768px) {
  .form-tab{
    font-size: 1em;
    padding: 0 2px;
    margin-right: 2px;
  }
  #book-date-to{
    margin-left: 0;
    margin-top: 5px;
  }
  .cc-profile-holder{
    text-align: center;
  }
  .cc-profile-contact{
    line-height: 15px;
    padding: 10px 0;
  }
  .modal-box{
    max-width: 400px;
  }
  .rent-form table{
    width: 100%;
  }
  .cc-detailed-info{
    float: none;
    margin-top: 0;
    white-space: nowrap;
  }
}

@media all and (max-width : 640px) {
  .on-page-search .search-block{
    width: 100%;
  }
  .search-date-block label{
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
  }
  #page-search-date-from,#page-search-date-to{
    margin: 0;
    padding: 4px;
  }
  .mobile-full-width{
    display: inline-block;
    width: 100%;
  }
  .tab-content:last-child{
    text-align: center;
    .tab-content-heading{
      text-align: left;
    }
  }
  .rent-slider-attributes{
    width: 100%;
  }
  #rent-slider{
    margin: 0;
    width: 100%;
  }
  .search-result-text-sector .search-result-info-row .info-block{
    margin-right: 0.3em;
    display: block;
    margin-bottom: 0.5em;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media all and (max-width : 540px) {
  .cc-map-holder .rent-term{
    text-align: center;
  }
  .modal-box{
    max-width: 90%;
    min-width: 100px;
  }
  .po-profile-photo{
    display: block;
    margin: 0 auto 1em;
  }
}

@media all and (max-width : 480px) {
  //div[class^="col"]{padding-left:6px; padding-right:6px;}
  //.row{margin-left:-6px; margin-right: -6px}
  //.container,.container-fluid{padding-left: 6px; padding-right: 6px}
}