{% extends "base.html" %}

{% block main %}
  <form method="post" action="." autocomplete="off">
    {% csrf_token %}
    <p>Payments are safely processed with <a href='https://www.braintreepayments.com/' target='_blank'>Braintree</a>.</p>
    {% if braintree_error %}
      <div class="alert alert-danger fade in">
          <button class="close" data-dismiss="alert">&times;</button>
          {{ braintree_error|safe }}
      </div>
    {% endif %}
    <div class="braintree-notifications"></div>
    <div id="braintree-dropin"></div>
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Pay now!" />
  </form>
  <script type="text/javascript" charset="utf-8">
    var braintree_client_token = "{{ bt_client_token }}";
  </script>
{% endblock %}

