{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portuss</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/swiper.jquery.min.js' %}"></script>
    <script src="{% static 'js/modal-popup.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/select-block.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>


    {% block extra_js %}{% endblock %}
</head>

<body class="popup_on">
    {% block main %}{% endblock %}
    {% block extras %}{% endblock %}
    <script type="text/javascript">
        var modal = new Modal(".popup_on");
        var rent_url = "{% url 'car_rent' %}";
        var main_url = "{% url 'main' %}";
        var search_url = "{% url 'search' %}";
        var header_search_url = "{% url 'header_search' %}";
    </script>
</body>

</html>