{% extends "base.html" %}
{% load static %}
{% block main %}
{% load commentator_age %}

<div class="wrapper">
{% include "header.html" %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <img src="{{ car.photo.url }}">
                    <div class="cc-price-holder">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="cc-price">₴{{ car.price }} в день</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row cc-section-first">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <form action="#" method="post" class="cc-map-holder">
                        <label for="book-date-from" class="rent-term">Срок аренды</label>
                        <div class="pre-datepicker-row">
                            <input type="text" readonly name="book-date-from" id="book-date-from" placeholder="от">
                            <input type="text" readonly name="book-date-to" id="book-date-to" placeholder="до">
                        </div>
                        <div class="pre-price-block">
                            <span>Стоимость с комиссией - </span><span class="pre-price">1800</span><span class="currency">грн</span>
                        </div>
                        <div class="cc-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10145.49820330653!2d30.799392150000003!3d50.527203300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1485003057388" frameborder="0"></iframe>
                        </div>
                        <a href="?complete_booking=True" class="cc-rent-button">Забронировать</a>
                    </form>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-md-push-6 col-lg-push-6">
                    <div class="cc-profile-holder">
                        <div class="cc-profile-photo"><img src="{{ car.owner.photo.url }}"></div>
                        <div class="cc-user-info">
                            <span class="cc-user-name">{{ car.owner.user.first_name }} {{ car.owner.user.last_name }}</span>
                            <span class="cc-user-location">{{ car.owner.city }}</span>
                        </div>
                        <a href="#id-author-contacts" class="cc-profile-contact modal-show">Связаться с владельцем</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-pull-3 col-lg-pull-3">
                    <h3 class="cc-heading">{{ car.description_title }}</h3>
                    <div class="cc-rating">
                        <ul class="rating">
                            {% with ''|center:car.car_rating as range %}
                            {% for _ in range %}
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            {% endfor %}
                            {% endwith %}
                        </ul>
                    </div>
                    <span class="cc-car-info cc-brand-model">{{ car.model }}</span>
                    <span class="cc-car-info cc-fuel-type">{{ car.fuel }}</span>
                    <span class="cc-car-info cc-transmission">{{ car.transmission }}</span>
                    <span class="cc-detailed-info">Подробные характеристики</span>
                    <div class="cc-detailed-info-block">
                        <div class="d-i-row">
                            <span>Тип транспорта:</span><span class="d-i d-i-transport-type">{{ car.car_type }}</span>
                        </div>
                        <div class="d-i-row">
                            <span>Год выпуска:</span><span class="d-i d-i-manufactured-year">{{ car.issue_date }}</span>
                        </div>
                        <div class="d-i-row">
                            <span>Состояние:</span><span class="d-i d-i-condition">{{ car.condition }}</span>
                        </div>
                        <div class="d-i-row">
                            <span>Пробег:</span><span class="d-i d-i-condition">{{ car.mileage }}</span>
                        </div>
                    </div>
                    <div class="cc-text-sector">
                        {{ car.description }}
                    </div>
                </div>
            </div>
            <div class="row cc-section-second gallery-slider-row">
                <span class="cc-gallery-heading">Фото автомобиля</span>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-table">
                                    <div class="slider-image-holder">
                                        <img src="{{ car.photo.url }}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                        <div class="gallery-close">
                            <img src="{% static 'images/cross.svg' %}">
                        </div>
                    </div>
                    <div class="gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-table">
                                    <div class="slider-image-holder">
                                        <img src="{{ car.photo.url }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-gallery-button left-pagination-gallery-button"><div><div><img src="{% static 'images/slider-arrow-red.png' %}"></div></div></div>
                        <div class="pagination-gallery-button right-pagination-gallery-button"><div><div><img src="{% static 'images/slider-arrow-red.png' %}"></div></div></div>
                    </div>
                </div>
            </div>

            <div class="row cc-section-third">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="comment-table comment-section-heading">
                        <div class="comment-cell">
                            <a href="#id-left-comment" class="left-comment modal-show">Оставить отзыв</a>
                        </div>
                        <div class="comment-cell">
                            <div>
                                <span class="comment-counter">{{ count_comments }}</span><span class="comment-counter-after">{% if count_comments > 1 %} comments{% else %} comment{% endif %}</span>
                            </div>
                        </div>
                    </div>
                        {% for comment in comments %}
                            <div class="comment-table">
                                <div class="comment-cell">
                                    <div class="comment-profile-photo">
                                        <img src="{{ comment.comment_author.photo.url }}">
                                    </div>
                                </div>
                                <div class="comment-cell">
                                    <div class="comment-heading">
                                    {% if comment.comment_author.user.first_name %}
                                        <span class="comment-user-name">{{ comment.comment_author.user.first_name }},</span>
                                        <span class="comment-user-age">{% commentator_age comment.comment_author.date_of_birth %}</span>
                                    {% else %}
                                        <span class="comment-user-name">{{ comment.unauthed_user_email }}</span>
                                    {% endif %}
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            {{ comment.comment_body }}
                                        </p>
                                    </div>
                                    <span class="comment-date">{{ comment.comment_date | date:"d.m.Y" }}</span>
                                    <input type="button" class="like-comment" id="{{ comment.id }}" value="Полезный отзыв" {% if comment.is_interesting %}disabled{% endif %}>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
            {% if comments %}
            <div class="row pagination-row">
                <ul class="pagination">
                {% if comments.has_previous %}
                    <li><a href="?page={{ comments.previous_page_number }}">{{ comments.previous_page_number }}</a></li>
                {% endif %}
                    <li><a href="?page={{ comments.number }}">{{ comments.number }}</a></li>
                {% if comments.has_next %}
                    <li><a href="?page={{ comments.next_page_number }}">{{ comments.next_page_number }}</a></li>
                {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% if not user.is_authenticated %}
    <!--Modal section-->
        {% include "modal_login.html" %}
    {% endif %}
    <div id="id-left-comment" class="modal-box">
        <div class="modal-box__close-btn"></div>
        <div class="popup-content">
            <form method="post" name="comment-form" id="comment-form">
                {% csrf_token %}
                <span class="popup-heading">Оставьте свой коментарий здесь</span>
                {% if not user.is_authenticated %}
                    <label for="{{ comment_form.unauthed_user_email.name }}" class="for-notreg-user">E-mail:</label>
                    {{ comment_form.unauthed_user_email }}
                {% endif %}
                <label for="{{ comment_form.comment_body.name }}">Текст коментария</label>
                {{ comment_form.comment_body }}
                <input type="submit" value="Коментировать">
            </form>
        </div>
    </div>
    <div class="background-mask"></div>
</div>
{% include "footer.html" %}
{% endblock %}