<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="footer-block">
                        <select name="currency" id="currency">
                            <option>Валюта</option>
                            <option>Грн</option>
                            <option>$</option>
                        </select>
                        <select name="lang" id="lang">
                            <option>Язык</option>
                            <option>Укр</option>
                            <option>Eng</option>
                        </select>
                    </div>
                    <div class="footer-block">
                        <ul class="footer-link-group">
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Условия и конфиденциальность</a></li>
                            <li><a href="#">Правила</a></li>
                            <li><a href="#">Помощь</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                    <div class="footer-block">
                        <ul class="contact-phone">
                            <li>+380500000000</li>
                            <li>+380500000000</li>
                            <li>+380500000000</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social-row">
    <ul class="social-bar">
        <li>
            <a onclick="return Share.go('facebook')">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>

        <li>          
            <a onclick="return Share.go('gplus')">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </li>

        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li>
            <a onclick="return Share.go('odnoklassniki')">
            <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a onclick="return Share.go('twitter')">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a onclick="return Share.go('vkontakte')">
            <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </li>

    </ul>
</div>