{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="wrapper">
{% include "header.html" %}
    <div class="how-it-works-section-start">
        <div>
            <span>Portuss что это такое?</span>
            <span>И как это работает ?</span>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row hiw-tabs-section">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab active-hiw-tab" data-tab-index="1">Как это работает?</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab" data-tab-index="2">Как Сдавать в аренду?</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab" data-tab-index="3">Как Брать в аренду?</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab" data-tab-index="4">Безопастность</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab" data-tab-index="5">Оплата</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab" data-tab-index="6">Правила</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab" data-tab-index="7">Работа</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="hiw-tab" data-tab-index="8">Обратная связь</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content active-hiw-content" data-tab-index="1">
                    <p>Portuss это онлайн площад для аренды автомобилей
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur facilis fugiat laborum
                        natus officiis provident, quae tempore voluptates? Dolorem excepturi fuga in ipsa laboriosam
                        repellat! Ab adipisci corporis minima sed.</p>
                    <p>Aperiam architecto commodi cum enim excepturi, fugit harum iusto laborum laudantium nam
                        perferendis quis recusandae, velit? Aperiam deserunt eius facere harum labore nam optio,
                        provident sit totam. Deleniti, iure ratione.</p>
                    <p>Alias architecto eos harum! Aut cum delectus dolor, exercitationem facilis magnam officiis
                        praesentium quae repudiandae voluptates. A accusantium at commodi dolorem ex libero obcaecati,
                        omnis pariatur possimus, quod sapiente tempore.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content" data-tab-index="2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dignissimos facere officiis
                        praesentium quidem! Dolores facere modi nihil odit sequi? Beatae dolorem doloribus ea eaque et
                        eum fugit illo nobis.</p>
                    <p>Aliquam assumenda at commodi consequuntur culpa dicta doloremque, eaque eius eligendi esse
                        explicabo, impedit in molestias mollitia natus nostrum omnis porro quia quidem, quos reiciendis
                        rerum sit totam velit voluptatem.</p>
                    <p>A ad autem beatae eum explicabo iste nulla rem saepe tempore! Quos repellat, sapiente?
                        Accusantium aliquid cumque est impedit, iusto laboriosam nam quod ratione reiciendis rem
                        sapiente temporibus veniam voluptatibus!</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content" data-tab-index="3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aperiam, architecto
                        corporis ducimus eligendi facere fugit illum iusto magnam non perferendis perspiciatis quasi
                        quibusdam saepe sequi unde ut voluptas?</p>
                    <p>Adipisci commodi consequuntur cupiditate delectus dicta dignissimos dolorum earum eum inventore
                        ipsum maiores minima modi molestias necessitatibus nesciunt nihil nisi non nostrum, porro qui
                        quo rem repellendus veritatis voluptatem voluptates.</p>
                    <p>Aliquam aperiam, assumenda, atque corporis distinctio dolor est excepturi harum in iure maiores
                        molestiae nam nemo nostrum odit officiis omnis provident quibusdam quo quod repellendus sequi
                        soluta temporibus ut, velit?</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content" data-tab-index="4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta dolore, doloribus
                        earum eligendi enim ex hic iste nobis optio quae qui sapiente totam? Blanditiis commodi
                        consequatur dolores quaerat suscipit?</p>
                    <p>Explicabo in minima minus qui? Accusantium aspernatur consequuntur cum cupiditate delectus
                        ducimus eaque eos eveniet expedita fuga harum ipsa laborum minima minus mollitia nihil quae sed,
                        sit, sunt vitae voluptatibus?</p>
                    <p>Accusantium assumenda at consectetur dignissimos eius eos esse, eum facere ipsa minima molestias
                        natus quae quibusdam sequi, sint totam voluptas! Atque delectus, nostrum odit reiciendis saepe
                        tenetur. Maiores, recusandae voluptatum.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content" data-tab-index="5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores consectetur dicta
                        doloribus earum, esse fuga minus odit quidem repudiandae rerum totam vel velit vitae,
                        voluptatum. Commodi illo impedit non.</p>
                    <p>Ad animi architecto asperiores blanditiis commodi cumque deserunt doloremque eius eos ex facilis
                        fugiat impedit iusto laboriosam molestias neque nesciunt nulla odio optio perferendis provident
                        quibusdam quos, reiciendis soluta voluptatum.</p>
                    <p>Accusantium aperiam architecto atque, commodi dolorem doloremque et eum exercitationem facilis
                        iste laboriosam, maxime numquam odio quaerat quidem recusandae similique sint. Ipsum labore
                        laudantium neque vel vitae! Provident, quis rerum!</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content" data-tab-index="6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, aliquid animi
                        assumenda consectetur dolores enim est ex ipsa nihil quis quod rem sed similique voluptas
                        voluptate voluptatum. Doloremque, repudiandae!</p>
                    <p>Consectetur dolore ea eos est et eveniet excepturi exercitationem, modi, natus nesciunt nobis,
                        optio quaerat quibusdam repellat repellendus temporibus ullam velit veniam veritatis vero vitae
                        voluptate voluptates. Animi, eligendi ipsam.</p>
                    <p>Accusantium aliquam dolorem enim esse illum incidunt iure laudantium magni maiores, minima minus
                        molestias neque numquam quis quos recusandae tempora vero voluptates. Adipisci consectetur
                        distinctio ducimus eum laboriosam, libero perferendis!</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content" data-tab-index="7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at aut consequatur delectus
                        deleniti enim, eveniet ex facere illum incidunt ipsa nam nobis nulla quia quos rem totam velit
                        vero!</p>
                    <p>Aliquam aperiam atque consectetur cum earum eius error, id incidunt, nihil quaerat repellat
                        reprehenderit sunt vero? Aspernatur aut autem error harum inventore magni minima nisi nulla,
                        quis rem ullam voluptatum?</p>
                    <p>Nemo, provident, reiciendis? Aut beatae blanditiis consectetur dicta dignissimos dolores
                        exercitationem impedit natus neque, obcaecati odit quis ratione reprehenderit sed sint sit
                        tempore temporibus totam, unde vero vitae voluptatem, voluptates.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hiw-tab-content" data-tab-index="8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at autem doloribus fuga incidunt
                        iste iusto quam, sint? Adipisci alias delectus dolore illo itaque nobis, optio porro quae saepe
                        suscipit.</p>
                    <p>Corporis cum deserunt doloribus explicabo, fugiat hic impedit itaque iusto laboriosam magnam
                        maxime mollitia nulla odit porro provident vel velit voluptas? Dolor, error esse fugiat illum
                        quae quidem quo sint.</p>
                    <p>Illum impedit nesciunt quae quo rem sapiente totam. A animi molestiae nobis velit veritatis.
                        Aspernatur debitis doloribus facilis, fugit iusto minus, natus obcaecati officia quod
                        reprehenderit tempora vel vero voluptates.</p>
                </div>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <!--Modal section-->
        {% include "modal_login.html" %}
    {% endif %}
    <div class="background-mask"></div>
</div>
{% include "footer.html" %}
{% endblock %}
