{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="wrapper">
{% include "header.html" %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="main-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-first">
                                <img src="{% static 'images/main-slider-image.png' %}" alt="">
                                <div class="additional-layer">
                                    <div class="slide-text">Путешествуйте без границ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="on-page-search" method="post">
                    {% csrf_token %}
                        <div class="search-block city-search">
                            {{ quick_search_form.city }}
                        </div>
                        <div class="search-block search-date-block">
                            <label for="page-search-date-from">Срок аренды</label>
                            {{ quick_search_form.rental_perion_begin }}
                            {{ quick_search_form.rental_perion_end }}
                        </div>
                        <button class="search-block on-page-search-trigger">
                            <span>Поиск</span>
                        </button>
                    </form>
                        {% if quick_search_form.errors %}
                        <div class="qsearch-errors">
                            You have some errors, please fix it up.
                                {% for field in quick_search_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ field.label }}: {{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in quick_search_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="slider-heading">Популярные обьявления</div>
                    <div class="slider-holder popular-cars-slider-holder">
                        <div class="popular-cars-slider">
                            <div class="swiper-wrapper">
                            {% for ad in popular_ads %}
                                <div class="swiper-slide">
                                    <img src="{{ ad.photo.url }}" style="width:220px;height:140px;">
                                    <span class="car-name">{{ ad.model }}, {{ ad.city }}</span>
                                    <span class="car-price">{{ ad.price }}</span>
                                    <span class="currency">₴</span>
                                    <a href="{% url 'book_a_car' ad.id %}"></a>
                                    <ul class="rating">
                                    {% with ''|center:ad.car_rating as range %}
                                    {% for _ in range %}
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    {% endfor %}
                                    {% endwith %}
                                    </ul>
                                </div>
                            {% endfor %}
                            </div>
                            </div>
                        </div>
                        <div class="slider-controls">
                            <div class="popular-cars-prev"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                            <div class="popular-cars-next"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                        </div>
                    </div>
                    <div class="slider-heading">Популярные города</div>
                    <div class="slider-holder popular-city-slider-holder">
                        <div class="popular-city-slider">
                            <div class="swiper-wrapper">
                            {% for ad in sorted_ads_by_popularity %}
                                <div class="swiper-slide">
                                    <img src="{{ ad.photo.url }}" style="width:220px;height:140px;">
                                    <span class="city-name">{{ ad.city }}</span>
                                    <a href="{% url 'book_a_car' ad.id %}"></a>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="slider-controls">
                            <div class="popular-city-prev"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                            <div class="popular-city-next"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% if not user.is_authenticated %}
    <!--Modal section-->
        {% include "modal_login.html" %}
    {% endif %}
    <div class="background-mask"></div>
{% include "footer.html" %}
{% endblock %}
