{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="popup_on">
<div class="wrapper">
{% include "header.html" %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="main-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-first">
                                <img src="{% static 'images/main-slider-image.png' %}" alt="">
                                <div class="additional-layer">
                                    <div class="slide-text">Путешествуйте без границ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="on-page-search" method="post">
                    {% csrf_token %}
                        <div class="search-block city-search">
                            {{ quick_search_form.city }}
                        </div>
                        <div class="search-block search-date-block">
                            <label for="page-search-date-from">Срок аренды</label>
                            {{ quick_search_form.rental_perion_begin }}
                            {{ quick_search_form.rental_perion_end }}
                        </div>
                        <button class="search-block on-page-search-trigger">
                            <span>Поиск</span>
                        </button>
                    </form>
                        {% if quick_search_form.errors %}
                        <div class="qsearch-errors">
                            You have some errors, please fix it up.
                                {% for field in quick_search_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ field.label }}: {{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in quick_search_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="slider-heading">Популярные обьявления</div>
                    <div class="slider-holder popular-cars-slider-holder">
                        <div class="popular-cars-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                    <ul class="rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="slider-controls">
                            <div class="popular-cars-prev"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                            <div class="popular-cars-next"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                        </div>
                    </div>
                    <div class="slider-heading">Популярные города</div>
                    <div class="slider-holder popular-city-slider-holder">
                        <div class="popular-city-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="city-name">Kiev</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="city-name">Kiev</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="city-name">Kiev</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="city-name">Kiev</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="city-name">Kiev</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'images/car-block-1.png' %}" alt="">
                                    <span class="city-name">Kiev</span>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-controls">
                            <div class="popular-city-prev"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                            <div class="popular-city-next"><img src="{% static 'images/slider-arrow-red.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% if not user.is_authenticated %}
    <!--Modal section-->
        {% include "modal_login.html" %}
    {% endif %}
    <div class="background-mask"></div>
</div>
<a href="how-this-work.html" class="how-it-works-holder">
    <span class="how-it-works">Как это работает?</span>
</a>
<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="footer-block">
                        <select name="currency" id="currency">
                            <option>Валюта</option>
                            <option>Грн</option>
                            <option>$</option>
                        </select>
                        <select name="lang" id="lang">
                            <option>Язык</option>
                            <option>Укр</option>
                            <option>Eng</option>
                        </select>
                    </div>
                    <div class="footer-block">
                        <ul class="footer-link-group">
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Условия и конфиденциальность</a></li>
                            <li><a href="#">Правила</a></li>
                            <li><a href="#">Помощь</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                    <div class="footer-block">
                        <ul class="contact-phone">
                            <li>+380500000000</li>
                            <li>+380500000000</li>
                            <li>+380500000000</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social-row">
    <ul class="social-bar">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    </ul>
</div>
<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/modal-popup.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
<script src="{% static 'js/select-block.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script type="text/javascript">
    var modal = new Modal(".popup_on")
</script>
</body>
</html>