    <div id="id-registration-login" class="modal-box">
        <div class="modal-box__close-btn"></div>
        <div class="popup-content">
            <form method="post" action="#" name="login" id="login">
                {% csrf_token %}
                <span>Войти как</span>
                {% for item in form %}
                <label for="{{ item.id_for_label }}">{{ item.label }}:</label>
                    {{ item }}
                    {{ item.errors }}
                {% endfor %}
                {% if form.errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                <input type="submit" value="Войти">
            </form>
            <a href="{% url 'registration' %}" class="reg-link">Зарегистрироваться</a>
            <ul class="social">
                <li class="soc-vk">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="soc-fb">
                    <a href="{% url 'social:begin' 'facebook' %}">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="soc-ok">
                    <a href="{% url 'social:begin' 'odnoklassniki-oauth2' %}">
                        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="soc-gl">
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>