<div class="detailed-search-block">
    <form method="post" id="detailed-search">
        <div>
            {{ form.car_type }}
            {{ form.fuel }}
        </div>
        <div>
            {{ form.transmission }}
            {{ form.condition }}
        </div>
        <input type="text" name="{{ form.model.name }}" id="brand" placeholder="Марка/Модель">
        <br>
        <div class="ds-slider-row">
            <div>
            Год выпуска:
                {{ form.rental_perion_begin }}
                {{ form.rental_perion_end }}
            </div>
            <div>
            Пробег:
                {{ form.mileage1 }}
                {{ form.mileage2 }}
            </div>
            <div>
            Цена:
                {{ form.price1 }}
                {{ form.price2 }}
            </div>
        </div>
        <br>
        <br>
        <div class="ds-row">
            <input id="submit-car-search" type="button" value="Поиск">
        </div>
    </form>
</div>