{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="wrapper">
{% include "header.html" %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="search-page-heading">
                        <a href="#" class="detailed-search">Подробный поиск</a>
                        <a href="#id-show-on-map" class="look-on-map modal-show">Посмотреть на карте</a>
                    </div>
                    {% include 'modal_search_form.html' %}
                    {% if searched_cars.count > 0 %}
                    <div class="search-result">
                    	{% include 'quick_searched_cars.html' %}
                    </div>
                    <div class="more-results-row">
                    	<button id="search-show-more">Показать еще предложения</button>
                    	<a href="#">Показать еще предложения</a>
                    </div>
                    {% else %}
                    <div class="nothing-found">
                    	Ничего не найдено
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% include "footer.html" %}
<script type="text/javascript">
	var search_param_city = '{{ search_params.city.0 }}';
	var rental_perion_begin = '{{ search_params.rental_perion_begin.0 }}';
	var rental_perion_end = '{{ search_params.rental_perion_end.0 }}';
</script>
{% endblock %}
