{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="wrapper">
    <div class="header">
        <div class="header-content main-content">
            <div class="header-table">
                <div class="header-block no-stretch mob-menu-burger-block mobile-only-element">
                    <div class="mobile-menu-burger">
                        <div class="stick"></div>
                    </div>
                </div>
                <div class="header-block no-stretch logo-block">
                    <a href="./index.html" class="main-logo-holder">
                        <img src="{% static 'img/logo.png' %}">
                    </a>
                </div>
                <div class="header-block search-block desktop-only-element">
                    <form action="#" method="post" class="header-search">
                        <input type="text">
                        <input type="submit" value=" ">
                        <div class="additional-layer">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </form>
                    <a href="rent-form.html" class="give-car-for-rent">Сдать машину</a>
                </div>
                <div class="header-block no-stretch help-block desktop-only-element">
                    <a href="#" class="get-help">Помощь</a>
                </div>
                <div class="header-block no-stretch registration-login-block for-notreg-user">
                    <a href="#id-registration-login" class="registration modal-show">Вход/Регистрация</a>
                </div>
                <!--<div class="header-block no-stretch login-block for-notreg-user">-->
                <!--<a href="#id-login" class="login-button modal-show">Войти</a>-->
                <!--</div>-->
                <div class="header-block no-stretch profile-block for-reg-user">
                    <a href="#" class="view-profile">
                        <span>Profile</span>
                        <div class="profile-img-header">
                            <img src="./images/profile-img.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-content mob-menu">
            <a href="rent-form.html" class="give-car-for-rent mob-block mob-block-1">
                <div class="icon"><i class="fa fa-car" aria-hidden="true"></i></div>
                <span>Сдать машину</span>
            </a>
            <a href="#" class="get-help mob-block mob-block-2">
                <div class="icon"><i class="fa fa-question" aria-hidden="true"></i></div>
                <span>Помощь</span>
            </a>
            <div class="search-block mob-block mob-block-3">
                <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <form action="#" method="post" class="header-search">
                    <input type="text">
                </form>
            </div>

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                    <span class="form-heading">Сдать машину в аренду</span>
                    <div class="tabs-row">
                        <div class="form-tab active-form-tab"><span class="tab-index">1.</span>Технические характеристики</div>
                        <div class="form-tab non-active-tab"><span class="tab-index">2.</span>Фотографии</div>
                        <div class="form-tab non-active-tab"><span class="tab-index">3.</span>Описание</div>
                        <div class="form-tab non-active-tab"><span class="tab-index">4.</span>Цена</div>
                    </div>

                        <div class="tab-content pre-active">
                            <span class="tab-content-heading">В этом разделе укажите технические характеристики вашего автомобиля</span>
                                <form method="post" id="rent-form1">
                                    {% csrf_token %}
                                    {{ form1.as_p }}
                                </form>
                            <div>
                                <input type="submit" class="form-next-step-button" value="Next"/>
                            </div>
                        </div>
                        <div class="tab-content">
                            <span class="tab-content-heading">Добавьте наилучшие фото вашего авто</span>
                            <span class="tab-content-heading">Помните, чем выше качество фото - тем быстрее ваш автомобиль будет арендован</span>
                            <label class="img-load-button" for="car-gallery-load">Загрузить фото</label>
                            <input type='file' id="car-gallery-load" name="car-gallery-load" multiple="multiple">
                            <div id='previewImg'></div>
                            <div>
                                <a href="#" class="form-next-step-button">Далее</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <span class="tab-content-heading">Добавьте детальное описание вашего предложения</span>
                            <span class="tab-content-heading">Если писать нечего просто пропустите этот шаг</span>
                            <textarea name="car-card-heading" id="car-card-heading" rows="2" placeholder="Здесь вы можете описать заголовок для объявления, в противном случае система сформирует его самостоятельно..."></textarea>
                            <textarea name="car-card-description" id="car-card-descriprion" placeholder="Здесь вы можете описать все нюансы: правила поведения в автомобиле, можно ли курить внутри, будет ли заполнен бак при сдаче в аренду и тд..."></textarea>
                            <div>
                                <a href="#" class="form-next-step-button">Далее</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <span class="tab-content-heading">И наконец вы можете указать цену и срок аренды вашего авто</span>
                            <div class="form-row">
                                <span class="mobile-full-width">Укажите срок аренды:</span>
                                <div class="rent-slider-attributes" data-min="0" data-max="365" data-step="1" data-initial-place="10">
                                    <div id="rent-slider">
                                        <div class="slider-slice slider-slice-1"></div>
                                        <div class="slider-slice slider-slice-2"></div>
                                        <div class="slider-slice slider-slice-3"></div>
                                        <div class="slider-slice slider-slice-4"></div>
                                    </div>
                                    <input type="text" id="form-rent-term" name="form-rent-term" readonly placeholder="0">
                                    <label for="form-rent-term">Дней</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <span class="mobile-full-width">Укажите цену за сутки:</span>
                                <input type="text" id="form-price" name="form-price" placeholder="Введите цену">
                                <span class="mobile-full-width"><span class="recommended-price">рекомендованая цена - </span><span class="price">139</span><span class="currency">UAH</span></span>
                            </div>
                            <!--<div class="form-row"><label for="form-datepicker">Сдается с:</label>-->
                                <!--<input type="text" id="form-datepicker" name="form-datepicker">-->
                            <!--</div>-->
                            <div>
                                <input type="submit" value="Опубликовать">
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
    <!--Modal section-->
    <div id="id-registration-login" class="modal-box">
        <div class="modal-box__close-btn"></div>
        <div class="popup-content">
            <form action="#" name="login" id="login">
                <span>Войти как</span>
                <label for="login-e-mail">E-mail:</label>
                <input type="text" id="login-e-mail">
                <label for="login-password">Пароль:</label>
                <input type="text" id="login-password">
                <input type="submit" value="Войти">
            </form>
            <a href="registration-form.html" class="reg-link">Зарегистрироваться</a>
        </div>
    </div>
    <div class="background-mask"></div>
</div>
<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="footer-block">
                        <select name="currency" id="currency">
                            <option>Валюта</option>
                            <option>Грн</option>
                            <option>$</option>
                        </select>
                        <select name="lang" id="lang">
                            <option>Язык</option>
                            <option>Укр</option>
                            <option>Eng</option>
                        </select>
                    </div>
                    <div class="footer-block">
                        <ul class="footer-link-group">
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Условия и конфиденциальность</a></li>
                            <li><a href="#">Правила</a></li>
                            <li><a href="#">Помощь</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                    <div class="footer-block">
                        <ul class="contact-phone">
                            <li>+380500000000</li>
                            <li>+380500000000</li>
                            <li>+380500000000</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social-row">
    <ul class="social-bar">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    </ul>
</div>
{% endblock %}