{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="wrapper">
{% include "header.html" %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                    <span class="form-heading">Сдать машину в аренду</span>
                    <div class="tabs-row">
                        <div class="form-tab active-form-tab"><span class="tab-index">1.</span>Технические характеристики</div>
                        <div class="form-tab non-active-tab"><span class="tab-index">2.</span>Фотографии</div>
                        <div class="form-tab non-active-tab"><span class="tab-index">3.</span>Описание</div>
                        <div class="form-tab non-active-tab"><span class="tab-index">4.</span>Цена</div>
                        <div class="form-tab non-active-tab"><span class="tab-index">5.</span>Документы</div>
                    </div>
                    <div class="rent-form">
                        <div class="tab-content pre-active">
                            <form name="form_rent_wizard" id="form_rent_wizard" method="POST" enctype="multipart/form-data">
                                <!--Place where form data should be inserted by js-->
                                <input type="button" class="form-next-step-button" value="Далее" id="  submit_wizard">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% if not user.is_authenticated %}
    <!--Modal section-->
        {% include "modal_login.html" %}
    {% endif %}
    <div class="background-mask"></div>
{% include "footer.html" %}
{% endblock %}