{% extends "base.html" %}
{% load static %}
{% load rental_period %}

{% block main %}
<div class="wrapper">
{% include "header.html" %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 po-contact-info-section">
                    <div class="po-profile-photo">
                        <img src="{{ common_user.photo.url }}">
                    </div>
                    <div class="po-main-section">
                        <div class="po-heading">
                            <span class="po-user-name">{{ common_user.user.first_name }} {{ common_user.user.last_name }}</span>
                        </div>
                        <div>
                            <span>С нами с </span><span class="po-registration-date">{{ common_user.user.date_joined |date:"d.m.Y" }}</span>
                        </div>
                        <div>
                            <span>Город: </span><span class="po-city">{{ common_user.city }}</span>
                        </div>
                        <div>
                            <span>Дата рождения: </span><span class="po-birthday">{{ common_user.date_of_birth|date:"d.m.Y" }}</span>
                        </div>
                        <div>
                            <a href="#id-profile-edit" class="po-edit modal-show">Редактировать</a>
                            <a href="#" class="get-contact">Связаться</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="revision-section">
                        <span class="po-section-heading">Проверено Portuss</span>
                        <div class="revision">
                            <div class="confirmed"><span>Документы</span><img src="{% if user.docs_are_checked %}{{ STATIC_URL }}images/confirm-icon-black.png{% else %}{{ STATIC_URL }}images/cross.svg{% endif %}"></div>
                            <div class="confirmed"><span>Социальные сети</span><img src="{% if user.docs_are_checked %}{{ STATIC_URL }}images/confirm-icon-black.png{% else %}{{ STATIC_URL }}images/cross.svg{% endif %}"></div>
                        </div>
                    </div>
                    <span class="po-section-heading section-first">О себе:</span>
                    <p class="po-about-myself">
                        {{ common_user.about }}
                    </p>
                    {% if searched_cars.count > 0 %}
                        <span class="po-section-heading">Мои объявления:</span>
                    {% endif %}
                        {% for car in searched_cars %}
                        <div class="search-result">
                        <div class="search-result-img-sector">
                            <img src="{{ car.photo.url }}">
                        </div>
                        <div class="search-result-text-sector">
                            <div class="search-result-heading">{{ car.model }} for {% rental_period car %}</div>
                            <div class="search-result-short-description">
                                <p>{{ car.description_title }}</p>
                            </div>
                            <a href="{% url 'book_a_car' car.id %}" class="search-result-more-info">Подробнее</a>
                            <div class="search-result-info-row">
                                <div class="info-block"><img src="{% static 'images/wallet.png' %}"><span>${{ car.price }}</span></div>
                            <div class="info-block"><img src="{% static 'images/calendar.png' %}"><span>for {{ car.price }}</span></div>
                            <div class="info-block"><img src="{% static 'images/car.png' %}"><span>{{ car.model }}</span></div>
                            <div class="info-block"><img src="{% static 'images/city.png' %}"><span>{{ car.city }}</span></div>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    <span class="po-section-heading">Мои поездки:</span>
                    <div class="slider-holder popular-cars-slider-holder">
                        <div class="popular-cars-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/car-block-1.png" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/car-block-1.png" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/car-block-1.png" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/car-block-1.png" alt="">
                                    <span class="car-name">Bugatti Veyron, Israel</span>
                                    <span class="car-price">300</span>
                                    <span class="currency">$</span>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-controls">
                            <div class="popular-cars-prev"><img src="./images/slider-arrow-red.png" alt=""></div>
                            <div class="popular-cars-next"><img src="./images/slider-arrow-red.png" alt=""></div>
                        </div>
                    </div>
                    <div class="comment-tab-row">
                        <a href="#" class="comment-tab clients-tab active">Отзывы клиентов</a>
                        <a href="#" class="comment-tab owners-tab">Отзывы владельцев</a>
                    </div>
                    <div class="po-comment-section">
                        <div class="clients-reviews">
                            <div class="comment-table">
                                <div class="comment-cell">
                                    <div class="comment-profile-photo">
                                        <img src="./images/profile-img-omg.jpg">
                                    </div>
                                </div>
                                <div class="comment-cell">
                                    <div class="comment-heading">
                                        <span class="comment-user-name">Богдан,</span>
                                        <span class="comment-user-age">27</span>
                                        <span> лет</span>
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, cupiditate delectus, fuga id magni, odit quaerat quam recusandae sint temporibus tenetur veniam? Amet blanditiis commodi dicta doloribus ea eaque et ex facilis fuga hic in ipsa nulla numquam pariatur repudiandae sed, tenetur. Accusamus accusantium, ad atque autem corporis cum cupiditate dolor doloremque expedita in ipsa iste iure iusto laboriosam quisquam sapiente sed sequi sit sunt tempore. A architecto asperiores at atque cumque cupiditate eos exercitationem illo iste mollitia obcaecati praesentium quaerat quia sequi similique soluta sunt suscipit temporibus, veritatis voluptates. Consequatur eaque in molestiae provident voluptas. Distinctio reiciendis rem sapiente.
                                        </p>
                                    </div>
                                    <span class="comment-date">27.09.2016</span>
                                    <a href="#" class="comment-like">Полезный отзыв</a>
                                </div>
                            </div>
                            <div class="comment-table">
                                <div class="comment-cell">
                                    <div class="comment-profile-photo">
                                        <img src="./images/profile-img-omg.jpg">
                                    </div>
                                </div>
                                <div class="comment-cell">
                                    <div class="comment-heading">
                                        <span class="comment-user-name">Богдан,</span>
                                        <span class="comment-user-age">27</span>
                                        <span> лет</span>
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, cupiditate delectus, fuga id magni, odit quaerat quam recusandae sint temporibus tenetur veniam? Amet blanditiis commodi dicta doloribus ea eaque et ex facilis fuga hic in ipsa nulla numquam pariatur repudiandae sed, tenetur. Accusamus accusantium, ad atque autem corporis cum cupiditate dolor doloremque expedita in ipsa iste iure iusto laboriosam quisquam sapiente sed sequi sit sunt tempore. A architecto asperiores at atque cumque cupiditate eos exercitationem illo iste mollitia obcaecati praesentium quaerat quia sequi similique soluta sunt suscipit temporibus, veritatis voluptates. Consequatur eaque in molestiae provident voluptas. Distinctio reiciendis rem sapiente.
                                        </p>
                                    </div>
                                    <span class="comment-date">27.09.2016</span>
                                    <a href="#" class="comment-like">Полезный отзыв</a>
                                </div>
                            </div>
                            <div class="comment-table">
                                <div class="comment-cell">
                                    <div class="comment-profile-photo">
                                        <img src="./images/profile-img-omg.jpg">
                                    </div>
                                </div>
                                <div class="comment-cell">
                                    <div class="comment-heading">
                                        <span class="comment-user-name">Богдан,</span>
                                        <span class="comment-user-age">27</span>
                                        <span> лет</span>
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, cupiditate delectus, fuga id magni, odit quaerat quam recusandae sint temporibus tenetur veniam? Amet blanditiis commodi dicta doloribus ea eaque et ex facilis fuga hic in ipsa nulla numquam pariatur repudiandae sed, tenetur. Accusamus accusantium, ad atque autem corporis cum cupiditate dolor doloremque expedita in ipsa iste iure iusto laboriosam quisquam sapiente sed sequi sit sunt tempore. A architecto asperiores at atque cumque cupiditate eos exercitationem illo iste mollitia obcaecati praesentium quaerat quia sequi similique soluta sunt suscipit temporibus, veritatis voluptates. Consequatur eaque in molestiae provident voluptas. Distinctio reiciendis rem sapiente.
                                        </p>
                                    </div>
                                    <span class="comment-date">27.09.2016</span>
                                    <a href="#" class="comment-like">Полезный отзыв</a>
                                </div>
                            </div>
                        </div>
                        <div class="owners-reviews">
                            <div class="comment-table">
                                <div class="comment-cell">
                                    <div class="comment-profile-photo">
                                        <img src="./images/passport-guy.jpg">
                                    </div>
                                </div>
                                <div class="comment-cell">
                                    <div class="comment-heading">
                                        <span class="comment-user-name">Богдан,</span>
                                        <span class="comment-user-age">27</span>
                                        <span> лет</span>
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, cupiditate delectus, fuga id magni, odit quaerat quam recusandae sint temporibus tenetur veniam? Amet blanditiis commodi dicta doloribus ea eaque et ex facilis fuga hic in ipsa nulla numquam pariatur repudiandae sed, tenetur. Accusamus accusantium, ad atque autem corporis cum cupiditate dolor doloremque expedita in ipsa iste iure iusto laboriosam quisquam sapiente sed sequi sit sunt tempore. A architecto asperiores at atque cumque cupiditate eos exercitationem illo iste mollitia obcaecati praesentium quaerat quia sequi similique soluta sunt suscipit temporibus, veritatis voluptates. Consequatur eaque in molestiae provident voluptas. Distinctio reiciendis rem sapiente.
                                        </p>
                                    </div>
                                    <span class="comment-date">27.09.2016</span>
                                    <a href="#" class="comment-like">Полезный отзыв</a>
                                </div>
                            </div>
                            <div class="comment-table">
                                <div class="comment-cell">
                                    <div class="comment-profile-photo">
                                        <img src="./images/passport-guy.jpg">
                                    </div>
                                </div>
                                <div class="comment-cell">
                                    <div class="comment-heading">
                                        <span class="comment-user-name">Богдан,</span>
                                        <span class="comment-user-age">27</span>
                                        <span> лет</span>
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, cupiditate delectus, fuga id magni, odit quaerat quam recusandae sint temporibus tenetur veniam? Amet blanditiis commodi dicta doloribus ea eaque et ex facilis fuga hic in ipsa nulla numquam pariatur repudiandae sed, tenetur. Accusamus accusantium, ad atque autem corporis cum cupiditate dolor doloremque expedita in ipsa iste iure iusto laboriosam quisquam sapiente sed sequi sit sunt tempore. A architecto asperiores at atque cumque cupiditate eos exercitationem illo iste mollitia obcaecati praesentium quaerat quia sequi similique soluta sunt suscipit temporibus, veritatis voluptates. Consequatur eaque in molestiae provident voluptas. Distinctio reiciendis rem sapiente.
                                        </p>
                                    </div>
                                    <span class="comment-date">27.09.2016</span>
                                    <a href="#" class="comment-like">Полезный отзыв</a>
                                </div>
                            </div>
                            <div class="comment-table">
                                <div class="comment-cell">
                                    <div class="comment-profile-photo">
                                        <img src="./images/passport-guy.jpg">
                                    </div>
                                </div>
                                <div class="comment-cell">
                                    <div class="comment-heading">
                                        <span class="comment-user-name">Богдан,</span>
                                        <span class="comment-user-age">27</span>
                                        <span> лет</span>
                                    </div>
                                    <div class="comment-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, cupiditate delectus, fuga id magni, odit quaerat quam recusandae sint temporibus tenetur veniam? Amet blanditiis commodi dicta doloribus ea eaque et ex facilis fuga hic in ipsa nulla numquam pariatur repudiandae sed, tenetur. Accusamus accusantium, ad atque autem corporis cum cupiditate dolor doloremque expedita in ipsa iste iure iusto laboriosam quisquam sapiente sed sequi sit sunt tempore. A architecto asperiores at atque cumque cupiditate eos exercitationem illo iste mollitia obcaecati praesentium quaerat quia sequi similique soluta sunt suscipit temporibus, veritatis voluptates. Consequatur eaque in molestiae provident voluptas. Distinctio reiciendis rem sapiente.
                                        </p>
                                    </div>
                                    <span class="comment-date">27.09.2016</span>
                                    <a href="#" class="comment-like">Полезный отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal section-->
    <div id="id-profile-edit" class="modal-box">
        <div class="modal-box__close-btn"></div>
        <div class="popup-content">
            <form method="post" id="profile-edit" name="profile-edit">
                {% csrf_token %}
                <span>Введите данные в поля
                    которые хотите изменить</span>
                <label for="{{ form.base_user.first_name.id_for_label }}">{{ form.base_user.first_name.label }}:</label>
                {{ form.base_user.first_name }}

                <label for="{{ form.base_user.last_name.id_for_label }}">{{ form.base_user.last_name.label }}:</label>
                {{ form.base_user.last_name }}

                <label for="{{ form.common_user.date_of_birth.id_for_label }}">{{ form.common_user.date_of_birth.label }}:</label>
                {{ form.common_user.date_of_birth }}

                <label for="{{ form.common_user.phone.id_for_label }}">{{ form.common_user.phone.label }}:</label>
                {{ form.common_user.phone }}

                <label for="{{ form.base_user.email.id_for_label }}">{{ form.base_user.email.label }}:</label>
                {{ form.base_user.email }}

                <label for="{{ form.common_user.vk.id_for_label }}">{{ form.common_user.vk.label }}:</label>
                {{ form.common_user.vk }}

                <label for="{{ form.common_user.fb.id_for_label }}">{{ form.common_user.fb.label }}:</label>
                {{ form.common_user.fb }}

                <label for="{{ form.common_user.about.id_for_label }}">{{ form.common_user.about.label }}:</label>
                {{ form.common_user.about }}
                <input type="submit" value="Изменить">
            </form>
        </div>
    </div>
    <div class="background-mask"></div>
</div>
{% include "footer.html" %}
{% endblock %}